<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "nav__bar__head">
        <div><h3><b style = "padding: 5px;background-color: dodgerblue; color: white;">Health</b><b style="padding: 5px;background-color: rgb(247, 112, 135); color: white;">Care</b></h3></div>
        <div class = "nav__bar__button">
            <div><a href = "/" class="nav-item active">Login</a></div>
            <div><a href = "/doctor_login">Doctor Login</a></div>
            <div><a href = "/admin_login">Admin Login</a></div>
        </div>
    </div>
</body>
</html>